services:
  test:
    build:
      context: .
      dockerfile: Dockerfile
    command: >
      cargo llvm-cov --all-features --workspace
      --fail-under-lines 100
      --fail-under-functions 100

  build:
    build:
      context: .
      dockerfile: Dockerfile
    command: cargo build --release
